		body{
			background-image:url('../images/login_bg.jpg');
			background-repeat:round ;
			background-size:100% auto;
			background-attachment: fixed;
		}
		div{
			position:relative;
			top:20px;
			margin:15px;
		}
		.div_Register{
			background-color:white;
			width:400px;
			height:400px;
			opacity:0.8;
			margin: auto;
		}
		.div_top{
			background-color:rgb(68,135,174);
			width:calc(100%);
			height:calc(12.5%);
			top:0px;
			color:white;
			margin:0px;
		}
		
		.input{
			text-indent:10px;
			border:1px solid rgb(68,135,174);
			width:calc(80%);
			height:25px;
			position:relative;
			top:10px;
			bottom:40px;
		}
		input[type=button]{
			background-color:rgb(68,135,174);
			text-indent:0px;
			color:white;
			padding:0px;
			margin:0px;
			cursor: pointer; 
		}
		input[name=date],input[name=Tel]{
			text-indent:10px;
			border:1px solid rgb(68,135,174);
			width:calc(80%);
			height:25px;
			
		}
		fieldset{
			border:1px solid rgb(68,135,174);
		}
		div[id=necessary]{
			margin:15px 0px 15px 15px;
			height:250px;
			top:-20px;
			float:left;
			width:calc(45%);
		}
		div[id=unnecessary]{
			top:-35px;
			margin:15px 0px;
			float:left;
			height:265px;
			width:calc(45%);
		}
		div[id=Register]{
			position:static;
			text-align:center
		}
